<div class = "container">
    <div class = "row justify-content-md-center">
      <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">



<h4>会員情報編集</h4>

<br>

<%= form_with model: @customer,url:public_customer_path(current_customer),method: :PATCH do |f| %>



<table class = "table">

  <tr><th><%= f.label :氏名 %></th><td><%= f.text_field :last_name, autocomplete: "last_name" %><%= f.text_field :first_name, autocomplete: "first_name" %></td></tr>

  <tr><th><%= f.label :フリガナ %></th><td><%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %><%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %></td></tr>

  <tr><th><%= f.label :メールアドレス %></th><td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td></tr>

  <tr><th><%= f.label :郵便番号 %></th><td><%= f.text_field :postal_code, autocomplete: "postal_code" %></td></tr>

  <tr><th> <%= f.label :住所 %></th><td><%= f.text_field :address, autocomplete: "address",size: "70×35" %></td></tr>

  <tr><th><%= f.label :電話番号 %></th><td><%= f.text_field :telephone_number, autocomplete: "telephone_number" %></td></tr>


</table>

  <br>

    <%= f.submit '編集内容を保存' ,class:"btn btn-success" %>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <%= link_to "退会する",customers_confirm_path(current_customer), class:"btn btn-danger" %>

<% end %>

      </div>
    </div>
<div>
