<div class = "container px-5 px-sm-0">
  <div class = "row">


    <div class = "col-md-3">


    <h2>マイページ</h2>


      <div class = "col-md-8 offset-md-1">

        <h2>登録情報</h2>

        <table class = "table table-hover table-inverse">
          <thead>
            <tr>
              <th>氏名</th>
              <th>カナ</th>
              <th>郵便番号</th>
              <th>住所</th>
              <th>電話番号</th>
              <th>メールアドレス</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td><%= @public.last_name %><%= @public.first_name %></td>

              <td><%= @public.last_name_kana %><%= @public.first_name_kana %></td>

              <td><%= @public.postal_code %></td>

              <td><%= @public.telephone_number %></td>

              <td><%= @public.email %></td>


            </tr>

          </tbody>
        </table>

        <p>配送先</p>

        <br>

        <p>注文履歴</p>

      </div>

  </div>
</div>
