<center>

  <h3>商品新規登録</h3>

  <br>

    <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>

      <p>商品画像
      <%= f.file_field :image, accept: "image/*" %></p>

      <br>

      <p>商品名
      <%= f.text_field :name %></p>

      <br>

      <p>商品説明
      <%= f.text_area :introduction,size: "30×30" %></p>

      <br>

      <p>ジャンル
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></p>

      <p>税抜価格
      <%= f.text_field :price %>円</p>

      <br>

      <p>販売ステータス
      <%= f.radio_button :is_active,true %>
      <%= f.label :is_active_now_on_sale, "販売中" %>

      <%= f.radio_button :is_active,false %>
      <%= f.label :is_active_suspension_of_sales, "販売停止中" %></p>

      <br>

    <%= f.submit '新規登録' ,class:"btn btn-success" %>

    <% end %>

</center>