<div class = "container px-5 px-sm-0">
  <div class = "row">


    <div class = "col-md-3">


    <h4>商品詳細</h4>


    <%= image_tag @item.image, size: "100×100" %>


      <div class = "col-md-8">

        <table class = "table table-hover table-inverse">
          <thead>
            <tr>
              <th>商品名</th>
              <th>商品説明</th>
              <th>ジャンル</th>
              <th>税抜価格</th>
              <th>販売ステータス</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td><%= @item.name %></td>

              <td><%= @item.introduction %></td>

              <td><%#= @genre:id.name %></td>

              <td><%= @item.price %></td>

              <td><%= @item.is_active %></td>


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
