<div class = "container">

  <div class = "row mt-3 mb-3 justify-content-md-center">
    <h5>商品詳細</h5>
  </div>

  <div class = "row mt-5 mb-3 justify-content-md-center">

    <div class = "col-xs-3">

    <%= image_tag @item.image, width:250,height:200 %>

    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    </div>

    <div class = "col-xs-9">

        <table class = "table table-borderless">

              <tr><td>商品名</td><td><%= @item.name %></td></tr>
              <tr><td>商品説明</td><td><%= @item.introduction %></td></tr>
              <tr><td>ジャンル</td><td><%= @item.genre.name %></td></tr>
              <tr><td>価格</td><td><%= @item.price %>円</td></tr>
              <tr><td>販売ステータス</td>

                <% if @item.is_active == true %>
                <td class="text-success"><%= "販売中" %></td>
                 <% else %>

                <td class="text-secondary"><%= "販売停止中" %></td>

                <% end %>

              </tr>

        </table>

    </div>

  </div>

  <div class = "row mt-3 mb-3">

    <div class = "col-md-5"></div>

    <div class = "col-md-6">

      <%= link_to "編集する",edit_admin_item_path(@item.id), class:"btn btn-success" %>

    </div>

    <div class = "col-md-2"></div>

  </div>

</div>
