<div class = "container">

  <div class = "row mt-3 mb-3">

    <h5>注文情報入力</h5>

  </div>


      <%= form_with model: @order, url:orders_confirm_path, method: :post do |f| %>

        <ul class="list-unstyled">

          <li class="font-weight-bold">支払方法</li>

            <ul class="list-unstyled ml-3">

              <li><%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></li>

              <li><%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %></li>

            </ul>

          <li class="font-weight-bold">お届け先</li>

            <ul class="list-unstyled ml-3">

              <li><%= f.radio_button :select_address,"0" %>
                <%= f.label :address_mine, "ご自身の住所" %><br>
                <li class=ml-3><%= "〒" %><%= current_customer.postal_code %><%= current_customer.address %></li>
                <li class=ml-3><%= current_customer.last_name %><%= current_customer.first_name %></li>
              </li>

              <br>

              <li><%= f.radio_button :select_address,"1" %>
                <%= f.label :address_done, "登録済住所から選択" %><br>
                <% if @order.customer == current_customer %>
                <li class=ml-3><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></li>
                <% end %>
              </li>

              <br>

              <li><%= f.radio_button :select_address,"2" %>
                <%= f.label :address_new, "新しいお届け先" %><br>

                <li class=ml-3>郵便番号&emsp;
                <%= f.text_field :postal_code %></li><br>

                <li class=ml-3>住所&emsp;&emsp;&emsp;
                <%= f.text_field :address, size: "70×35" %></li><br>

                <li class=ml-3>宛名&emsp;&emsp;&emsp;
                <%= f.text_field :name %></li>

                <br>

                <center><%= f.submit '確認画面へ進む' ,class:"btn btn-primary" %></center>

            </ul>

          </li>

        </ul>

      <% end %>


</din>