<div class = "container">

   <div class = "row mt-3 mb-3">
     <h5>注文履歴詳細</h5>
   </div>

    <div class = "row">

        <table class = "table table-bordered">

          <div class = "col-md-3 mb-3">

            <div class="font-weight-bold">注文情報</div>

            <tr><td>注文日</td><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
            <tr><td>配送先</td><td><%= "〒" %><%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %></td></tr>
            <tr><td>支払方法</td><td><%= @order.payment_method_i18n %></td></tr>

        </table>

          <div class = "col-md-5 mb-3">

            <div class="font-weight-bold">注文内容</div>

            <table class = "table table-bordered">
              <thead>
                <tr>
                  <td>商品</td>
                  <td>価格</td>
                  <td>個数</td>
                  <td>小計</td>
                </tr>
              </thead>

              <tbody>

                <% @total = 0 %>

                <% @orderitem.each do |orderitem| %>

                <tr>

                  <td><%= orderitem.item.name %></td>

                  <td><%= orderitem.item.price %></td>

                  <td><%= orderitem.quantity %></td>

                  <td><%= orderitem.item.price * orderitem.quantity %></td>

                  <% @total +=  (orderitem.item.price) * orderitem.quantity %>

                </tr>

                <% end %>

              </tbody>
            </table>

          </div>

          <div class = "col-md-4 mb-3">

            <table class = "table table-bordered">

            <div class="font-weight-bold">請求情報</div>

            <tr><td>商品合計</td><td><%= @total %></td></tr>
            <tr><td>配送料</td><td><%= @order.shipping_cost %></td></tr>
            <tr><td>ご請求額</td><td><%= @order.total_payment %></td></tr>

            </table>

    </div>

</div>