<div class = "container">

  <div class = "row mt-5 mb-3 justify-content-md-center">

    <div class = "col-xs-3">

    <%= image_tag @item.image, width:250,height:200 %>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    </div>

    <%= form_with model: @cart_item,url:cart_items_path,method: :post do |f| %>

    <div class = "col-xs-9">

        <ul class = "list-unstyled">

          <li><strong><%= @item.name %></strong></li><br><br>

          <li><%= @item.introduction %></li><br><br>

          <li><%= "￥" %><%= @item.price %></li><br><br>

          <li><%= f.select :amount, *[1..10] %></li><br><br>

          <%= f.hidden_field :item_id, :value => @item.id %>

          <%= f.submit 'カートに入れる' ,class:"btn btn-success" %>
          
        </ul>

    </div>

    <% end %>
    
  </div>

</div>