<div class = "container">

  <div class = "row mt-5 mb-5 justify-content-md-center">

    <div class = "col-md-3">

    <%= image_tag @item.image, width:250,height:200 %>

    </div>

    <%= form_with model: @cart_item,url:cart_items_path,method: :post do |f| %>

    <div class = "col-md-9">

        <table class = "table table-bordered">

          <tr><th><%= @item.name %></th><td></td></tr>

          <tr><td><%= @item.introduction %></td></tr>

          <tr><th><%= @item.price %>円</th><td></td></tr>

          <tr><th><%= f.select :amount, *[1..10] %></th><td>

          <%= f.hidden_field :item_id, :value => @item.id %>

          <%= f.submit 'カートに入れる' ,class:"btn btn-success" %></td></tr>

    <% end %>

        </table>

    </div>
  </div>

</div>